<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>UNLa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- para el nav -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- para el form -->
  <link rel="stylesheet" href="/formoid1/formoid-solid-green.css" type="text/css" />
</head>
<body class="blurBg-false" style="background-color:#EBEBEB">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">TP Objetos - 2021</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Agregar<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/persona/agregar">Usuarios</a></li>
          <li><a href="/perfil/agregar">Perfiles</a></li>
        </ul>
      </li>

      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Editar/Eliminar<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/persona">Usuarios</a></li>
          <li><a href="/perfil">Perfiles</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span th:text="${username}"/></a></li>
      <li>
        <form class="glyphicon glyphicon-log-in" th:action="@{/logout}" method="post">
          <input type="submit" value="Logout"/>
        </form>
      </li>
    </ul>
  </div>
</nav>


<form th:action="@{/perfil}" th:object="${userRole}" class="formoid-solid-green" style="background-color: #1a2223; font-size: 14px; font-family: 'Roboto', Arial, Helvetica, sans-serif; color: #34495e; max-width: 480px; min-width: 150px;" method="post">

  <input type="hidden" th:field="*{id}">

  <div class="title">
    <h2>Perfil</h2>
  </div>

  <div class="element-input">
    <div class="item-cont">
      <input class="large" type="text" name="role" th:field="*{role}" required="required" placeholder="Nuevo Perfil" />
    </div>
  </div>

  <div class="submit">
    <input type="submit" value="Guardar"/>
  </div>
</form>

<!-- -->
<script type="text/javascript" src="/formoid1/formoid-solid-green.js"></script>

</body>
</html>
